@model Site_Web.App_Data.FEDERATION

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FEDERATION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FED_NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FED_NOM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FED_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
