@model Site_Web.App_Data.PASTAPARTY

@{
    ViewBag.Title = "Details";
}
<section class="bg-fiche-unique">
    <h2>Details</h2>

    <div>
        <h4>PASTAPARTY</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PAS_NBMAXPARTICIPANT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PAS_NBMAXPARTICIPANT)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PAS_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</section>