body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Marathon Annecy */

/************/
/** Header **/
/************/
    
    /* Charte Taille Police + Margin + Interlignage*/
        *{
            font-family: 'Trebuchet MS';
        }
        .titre{
            font-size: 18px;
            margin-bottom: 20px;
        }
        .ssTitre{
            font-size: 16px;
            margin-bottom: 18px;
        }
        .texte{
            font-size: 14px;
            margin-bottom: 16px;
        }
        .paragraphe{
            font-size: 14px;
            margin-bottom: 16px;
            line-height: 17px;
        }
        .texteBoutton{
            font-size: 16px;
            margin-bottom: 18px;
        }
        .lienFooter{
            font-size: 14px;
            margin-bottom: 16px;
        }
    

    /* Banniere */
        #logoMarathon{
            display:inline-block;
        }

    
    /* Menu */
        #headerSite{
            width:100%;
        }
        a, a:focus, a:hover, a:active{
            color: white;
            text-decoration: none;
        }
        li{
            list-style-type:none;
        }
        .ssMenu{
            display:none;
        }
        .menu1:hover .ssMenu, .menu2:hover .ssMenu, .menu3:hover .ssMenu{
            display:block;
            padding-top: 10px;
        }
        .ssMenu>ul li:before{
            content:'> ';
        }

        .ssMenu>ul li{
            text-align: left;
            color: #fff;
        }
        .ssMenu>ul li:hover{
            font-weight: bold;
        }
        .menu1, .menu2, .menu3{
            display:inline-table;
            width: 33%;
            text-align:center;
            padding: 5px 0;
            background: #BCD0F5;
        }
         
        .menu1, .menu2{
            border-right:solid 1px #000;
        }
        .menu1:hover, .menu2:hover, .menu3:hover{
            background: #537CDB;
            border: none;
        }

    /* Bloc Login */
        #blocConnexion{
            display:inline-block;
        }
