body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Marathon Annecy */

/************/
/** Header **/
/************/
    
    /* Banniere */
    

    
    /* Menu */
        #headerSite{
            width:100%;
        }
        a, a:focus, a:hover, a:active{
            color: white;
            text-decoration: none;
        }
        li{
            list-style-type:none;
        }
        .ssMenu{
            display:none;
        }
        .menu1:hover .ssMenu, .menu2:hover .ssMenu, .menu3:hover .ssMenu{
            display:block;
        }
        .ssMenu>ul li:before{
            content:'> ';
        }

        .ssMenu>ul li{
            text-align: left;
        }

        #menuSite{
            width: 70%;
        }

        .menu1, .menu2, .menu3{
            display:inline-table;
            width: 33%;
            text-align:center;
            padding: 5px 0;
            background: #BCD0F5;
        }

        .menu1, .menu2{
            border-right:solid 1px #000;
        }
        .menu1:hover, .menu2:hover, .menu3:hover{
            background: #537CDB;
        }

    /* Bloc Login */

