body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input{
    width: 200px;
    margin-bottom: 10px;
}

/* Marathon Annecy */

/**************/
/* Background */
/**************/

img.bg{
    min-height:100%;
    min-width:1024px;
    width:100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1;
}

.bg-fiche{
    background: rgba(255, 255, 255, 0.5);
    border: ridge 4px #ccc;
    padding: 15px 15px 0;
}

.bg-fiche-unique{
    background: rgba(255, 255, 255, 0.7);
    border: ridge 4px #ccc;
    padding: 15px 15px 0;
}

.table, .table tr, .table th, .table td{
    border: 1px solid #000 !important;
}

/************/
/** Header **/
/************/
    
    /* Charte Taille Police + Margin + Interlignage*/
        *{
            font-family: 'Trebuchet MS';
        }
        .titre{
            font-size: 18px;
            margin-bottom: 20px;
        }
        .ssTitre{
            font-size: 16px;
            margin-bottom: 18px;
        }
        .texte{
            font-size: 14px;
            margin-bottom: 16px;
        }
        .paragraphe{
            font-size: 14px;
            margin-bottom: 16px;
            line-height: 17px;
        }
        .texteBoutton{
            font-size: 16px;
            margin-bottom: 18px;
        }
        .lienFooter{
            font-size: 14px;
            margin-bottom: 16px;
        }
        
        a, a:focus, a:hover, a:active{
            text-decoration: none;
        }
    

    /* Banniere */
        #logoMarathon{
            display:inline-block;
            position: absolute;
            width: 38%;
            top:0;
            left: 31%;
            right: 31%;
        }
        #blocConnexion{
            position:absolute;
            top: 20%;
            right: 10%;
        }

        #blocConnexion a {
            display: block;
        }
        #blocConnexion a:first-child{
            margin-bottom: 18px;
        }
    
    /* Menu */
        #headerSite{
            width:100%;
            position: relative;
            height: 210px;
        }
        #menuSite{
            position:absolute;
            bottom: 0;
            left:0;
            right:0;
        }
        li{
            list-style-type:none;
        }

        .menu{
            position:relative;
            display:inline-table;
            width: 33%;
            text-align:center;
            padding: 5px 0;
            background: #BCD0F5;
            vertical-align: middle;
        }
        
        .menu>a{
            display:block;
            margin-bottom: 0;
            color: #fff;
        }
         
        #menuSite>ul>li+li{
            border-left:solid 1px #000;
        }
        #menuSite>ul>li:first-child{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        #menuSite>ul>li+li+li{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .menu:hover{
            background: #537CDB;
            border: none;
        }

        .ssMenu{
            display:none;
        }
        .menu:hover .ssMenu{
            display:block;
            position: absolute;
            background: #537CDB;
            top:35px;
            left: 0;
            right:0;
            border-radius: 5px;
            padding-top: 15px;
        }

        .ssMenu>ul li{
            text-align: left;
        }
        .ssMenu>ul li:before{
            color: #fff;
            content:'> ';
        }
        .ssMenu>ul li:hover{
            font-weight: bold;
            font-size: 15px;
        }
        .ssMenu>ul li>a{
            color: #fff;
        }

    /* Bloc Login */
        #blocConnexion{
            display:inline-block;
        }
    
    /* Index Post Utilisateur*/

        .pageAccueil{
            margin-top: 15px;
            width:70%;
        }

        .post{
            padding: 15px;
            margin-bottom:15px;
            border: solid 1px #000;
            background: rgba(255,255,255,.8);
        }
        .post .titre{
            padding: 5px 0 0 5px;
        }

        .post .paragraphe{
            margin-bottom: 0;
        }

